language: julia
cache:
  directories:
  - $HOME/.julia/artifacts

os:
  - linux
  - osx
  - windows
julia:
  - 1.3
  - 1
  - nightly
notifications:
  email: false

after_success:
  # push coverage results to Codecov
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
