.table_image{
	width : auto;
	height : 8em;
}
img {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
span.filename {font-size: small;}
span.meta_info {display:block; width:100%; text-align:right; font-size:small;}
a img {border:0pt;}
dl {
  width: 100%;
	overflow: hidden;
	text-align:left;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 35%;
  background: #eeeeee;
	padding: 0;
  margin: 0;
	margin-right:5%;
}
dd {
  float: left;
	width: 60%;
	text-align:left;
  padding: 0;
  margin: 0
}